* {
  box-sizing: border-box;
}

p {
  padding: 1em 0;
}

h1,
h2,
h3 {
  padding: 1.5em;
}

body {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  text-align: center;
  line-height: 1.5;
  font-size: 1.1em;
}

.grid {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}

.header-wrap {
  position: relative;
  min-height: 450px;
  background-color: #333;
  z-index: 1;
}

.header-wrap > .imgbg {
  position: absolute;
  background: rgb(24, 23, 23)
    url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 450px;
  z-index: -1;
  opacity: 0.4;
}

.content {
  grid-column: 2/4;
}

.content > h1 {
  padding-top: 100px;
  font-size: 36px;
  font-weight: bold;
}

.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 0.5em 0;
}

.section-a {
  color: #333;
  background-color: #eaeaea;
  padding-bottom: 2em;
}
.content-wrap {
  grid-column: 2/4;
}

.content-wrap > h2 {
  font-size: 26px;
  font-weight: bold;
}

.content-text {
  columns: 2;
  column-gap: 2em;
}

.section-b {
  background-color: #333;
}

.section-b ul {
  grid-column: 2/4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section-b li {
  background: #fff;
  color: #333;
  margin: 2em 0;
  width: 30%;
}
@media (max-width: 800px) {
  .section-b li {
    width: 80%;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.card-content > h3 {
  font-weight: bold;
}

.card-content {
  padding: 0 1.4em 1.2em;
}

.section-c {
  color: #333333;
  padding: 1.5em;
}

.section-d {
  display: flex;
}
@media (max-width: 800px) {
  .section-d {
    flex-wrap: wrap;
  }
}
.section-d .info:first-child {
  background-color: #2690d4;
}

.info {
  background-color: #333;
  padding: 2em;
  flex-basis: 100%;
}

.section-d h2 {
  font-size: 26px;
  font-weight: bold;
}

.footer {
  color: #fff;
  background-color: #000;
  padding: 2em;
}

.footer > section > a {
  text-decoration: none;
}
.footer > section {
  grid-column: span 2;
}

/*
@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }
}

@media (min-width: 700px) {
  .content,
  .section-b ul {
    grid-column: 2/4;
  }
}

@media (min-width: 700px) {
  .section-b ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

*/
